@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
#root {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

@font-face {
  font-family: "luau";
  src: url("./fonts/Luau.ttf");
}

@font-face {
  font-family: "lemonmilk";
  src: url("./fonts/Lemon.otf");
}

@font-face {
  font-family: "tiki";
  src: url("./fonts/Tiki.ttf");
}
.tiki {
  font-family: "tiki";
}

.lemonmilk {
  font-family: "lemonmilk";
}

.luau {
  font-family: "luau";
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;
}
